body {
    margin: 0%;
}
.topNavDiv {
    margin: 0%;
    border-style: none;
    height: 40px;
    background-color: #4f2a35;
}
.mainNavDiv {
    margin: 0%;
    border-style: none;
    height: 120px;
    background-color: #19191f;
}
.mainBodyDiv {
    margin: 0%;
    border-style: none;
    height: 630px;
    background-image: url('../img/Lewis_Hall01.jpeg');
}
.bottomDiv {
    margin: 0%;
    border-style: none;
    height: 40px;
    background-color: #141313;
}
.allBtns {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 130px;
    height: 40px;
    background-color: #19191f;
    margin: 0;
    text-align: center;
    color: white;
    float:right;
    padding-top: 5px;
    border-style:none
}
.allBtns:hover {
  background-color: #272731;
  color: rgb(139, 236, 243);
   
}